button
{
    margin: 10px;
    font-size:large;
}

.buttongroup
 {

 background-image: url("../../assets/images/life-resort-hotel-resort-hotel-wallpaper-preview.jpg");
 height: 100%;
 width: 100%;
 background-repeat: no-repeat;
 background-size: cover;

    //     position: absolute;
//     left: 200px;
//     top: 25px;
    
}