.loginform
{
     text-align: center;
    
    // height: 60%;
    // width: 30%;
    // background-color:blue;
}


.main-container
{
background-image: url("../../assets/images/loin\ images.jpg");
height: 100%;
width: 100%;
background-repeat: no-repeat;
background-size: cover;
}















.container
{
        border: 2px solid red;
        border-radius: 30px;
        margin: 75px auto;
        padding: 45px;
        width:25%;
        display: block;
        background-color:burlywood;
}
    
.text-center
{
    text-align: center;
    color: blueviolet;
    font-size: 30px;
    font-weight: 200px;
}

.sp
{
    color: blue;
    font-size: 15px;
    font-weight: 450px;

}

input
{
    margin: auto;
}